.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
.idea/*
.vscode
.ipython
data
finetune
tmp_trainer
wandb
tests
Apuntes LaTex/2º Curso/FIE/figure/*
Apuntes LaTex/3º Curso/PEST/*.tex
Apuntes LaTex/3º Curso/PEST/*.log
Apuntes LaTex/3º Curso/PEST/figure/*
Prácticas/2º Curso/FIE/data
*.pem
Prácticas/3º Curso/1º Cuatrimestre/RI/Práctica 3/*.txt
Prácticas/3º Curso/1º Cuatrimestre/RI/Práctica 3/*.mat
Prácticas/3º Curso/1º Cuatrimestre/RI/Práctica 4/output/
Prácticas/3º Curso/1º Cuatrimestre/RI/Práctica 4/*.csv
Prácticas/3º Curso/1º Cuatrimestre/RI/output
Prácticas/3º Curso/1º Cuatrimestre/RI/*.csv
Prácticas/3º Curso/1º Cuatrimestre/PI/Práctica 11/images/*.csv
Prácticas/3º Curso/1º Cuatrimestre/RI/pa3-data/.DS_Store
Prácticas/3º Curso/1º Cuatrimestre/RI/pa3-data/BSBI.dict
Prácticas/3º Curso/1º Cuatrimestre/RI/pa3-data/docs.dict
Prácticas/3º Curso/1º Cuatrimestre/RI/pa3-data/pa3.rel.dev
Prácticas/3º Curso/1º Cuatrimestre/RI/pa3-data/pa3.rel.train
Prácticas/3º Curso/1º Cuatrimestre/RI/pa3-data/pa3.signal.dev
Prácticas/3º Curso/1º Cuatrimestre/RI/pa3-data/pa3.signal.train
Prácticas/3º Curso/1º Cuatrimestre/RI/pa3-data/terms.dict
Prácticas/3º Curso/1º Cuatrimestre/RI/pa3-data.zip
Prácticas/3º Curso/1º Cuatrimestre/RI/Práctica 2/pa3-data/*
Apuntes LaTex/2º Curso/FIE/FIE_*/
.venv
Apuntes LaTex/3º Curso/PEST/Simulacros/*/
Prácticas/3º Curso/1º Cuatrimestre/RI/Práctica 1/practica1-datos.zip
.ipynb_checkpoints