.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
.idea/*
.vscode
.ipython
data
tests
Apuntes LaTex/2º Curso/FIE/figure/*
Apuntes LaTex/3º Curso/PEST/*.tex
Apuntes LaTex/3º Curso/PEST/figure/*
Prácticas/2º Curso/FIE/data
*.pem