# Acceso a Reddit
praw

# Procesamiento numérico y ML clásico
numpy
scikit-learn

# FastText oficial (Facebook)
fasttext

# NLP y embeddings
nltk
sentence-transformers

# Transformers & datasets (para pipelines HF & fine-tuning)
torch
transformers[torch]
datasets
